.container {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrap {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__status {
    margin-left: 3rem;
    min-width: 600px;
  }

  &__titleWrap {
    display: grid;
    grid-auto-flow: column;
    font-size: 20px;
    width: 50%;

    &--title {
      cursor: pointer;
      &:hover {
        color: rgb(10, 186, 245);
      }
    }
  }

  &__infoWrap {
    border-top: 2px solid gray;
    margin-top: 0.5rem;
    width: 100%;
    height: 600px;
    overflow: auto;
  }

}