.course {
	&[open] {
		& summary {
			background-color: rgba(#61afdf, 0.5);
		}
	}
}

.title {
	padding: 0.5rem 1rem;
	margin-block-end: 0.75rem;
	border-radius: 99em;
	cursor: pointer;
	background-color: #61afdf;
	list-style: none;
	font-size: 1.125rem;
	color: #1a1a1a;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 99em;
		background-color: #f1f1f1;
		filter: blur(0.125rem);
		top: 0.25rem;
		left: 0;
		z-index: -1;
		scale: 0.975 1;
	}

	&:hover {
		background-color: rgba(#61afdf, 0.75);
	}
}

.content {
	display: flex;
	justify-content: space-between;
	padding-block-end: 1rem;
	border-bottom: 0.125rem solid #c3cfd9;

	& p {
		margin-block-start: 0;
	}

	&__name {
		font-size: 1.25rem;
		margin-block-end: 0.5rem;
	}

	&__time {
		margin-block-end: 0;
	}

	&__right {
		display: flex;
		align-items: start;
		gap: 5rem;

		& p {
			color: #38ae9f;
		}
	}
}
