.previewAvatar {
	display: grid;
	place-items: center;
	width: 75%;
	aspect-ratio: 1;
	margin-inline: auto;
	border-radius: 50%;
	position: relative;
	cursor: pointer;

	& > svg {
		color: #9eadba;
		width: 120%;
		height: 120%;
	}

	& > img {
		border-radius: 50%;
		width: 100%;
		aspect-ratio: 1;
		object-position: center;
		object-fit: cover;
	}

	&--error {
		color: #da1010;
		position: absolute;
		top: calc(100% - 1em);
		left: 0;
	}

	&--btn {
		isolation: isolate;
		position: absolute;
		bottom: 0;
		right: 5%;
		width: 30%;
		aspect-ratio: 1;
		cursor: pointer;

		& > svg {
			width: 100%;
			height: 100%;
		}

		&-icon {
			color: #da1010;

			&:hover {
				opacity: 0.75;
			}
		}
	}
}

:global(.hidden) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
