@use '../../../sass/abstracts/' as *;

.plan {
	border-bottom: 0.125rem solid #c3cfd9;
	padding-block-end: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;

	& p,
	h3 {
		margin: 0;
	}

	& *:not(:first-child, :nth-child(2)) {
		justify-self: flex-end;
	}

	@include mq(max, 62.5em) {
		grid-template-columns: repeat(2, 1fr);

		& *:not(:first-child, :nth-child(2)) {
			justify-self: flex-start;
		}
	}

	@include mq(max, md) {
		grid-template-columns: repeat(4, 1fr);

		& *:not(:first-child, :nth-child(2)) {
			justify-self: flex-end;
		}
	}

	@include mq(max, sm) {
		grid-template-columns: repeat(2, 1fr);

		& *:not(:first-child, :nth-child(2)) {
			justify-self: flex-start;
		}

		& p {
			font-size: 0.875rem;
		}

		& h3 {
			font-size: 1rem;
		}
	}
}
