@use '../../styles.module.scss';

.previewAvatar {
	@extend .auth__input;

	display: block;
	width: 75%;
	margin-inline: auto;
	border-radius: 50%;
	position: relative;
	cursor: pointer;

	& > svg {
		color: #9eadba;
		width: 100%;
		height: 100%;
	}

	& > img {
		border-radius: 50%;
		width: 15.625rem;
		aspect-ratio: 1;
		border: 1.5625rem solid transparent;
		object-position: center;
		object-fit: contain;
	}

	&--error {
		color: #da1010;
		position: absolute;
		top: calc(100% - 1em);
	}
}

.input--file {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.skip {
	color: #3fb1e4;
	w &:hover {
		opacity: 0.75;
	}
}
