.header {
	--clr-primary: #3fb1e4;

	display: flex;
	background-color: var(--clr-primary);
	padding-block: 0.625rem;
	color: #fff;

	&__wrapper {
		width: min(100%, 80rem);
		margin-inline: auto;
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}

	&__logo {
		width: 3.125rem;
	}

	&__linkWrap {
		display: grid;
		grid-gap: 1rem;
		grid-auto-flow: column;
		margin-inline-end: auto;
		
		&__link {
			font-weight: bold;
			opacity: 0.75;
			padding: 0;
			color: white;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__btn {
		@extend .header__linkWrap__link;
	}
}
