@use 'sass:color';

.header {
	--clr-primary: #3fb1e4;
	display: flex;
	background-color: var(--clr-primary);
	padding-block: 0.625rem;
	color: #fff;

	&__wrapper {
		width: min(100%, 80rem);
		margin-inline: auto;
	}

	&__logo {
		display: flex;
		gap: 1rem;
		margin-inline-end: auto;
	}
}

// set all of the h1 `margin: 0;` and same font-size to `1.5rem`.
:global(h1) {
	margin: 0;
	font-size: 1.5rem;
}
