@use '../../sass/abstracts/' as *;

.dialog-wrapper {
	gap: 0.5rem;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
}

.btn--openDialog {
	aspect-ratio: 1;
	padding-inline: 0;
	width: 2.25rem;

	& > svg {
		width: 100%;
		height: 100%;
		color: #3488d9;
	}
}
