.container {
	padding-top: 2rem;
	margin-inline: auto;
	width: fit-content;

	&:has(h2[data-title="no store"]) {
		width: 80%;
	}

	&__wrap {
		display: grid;
		position: relative;
	}

	&__dialog {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
}

.btn--openDialog {
	// position: absolute;
	// right: 0;
	width: 2.25rem;
	aspect-ratio: 1;
	padding-inline: 0;

	& > svg {
		width: 100%;
		height: 100%;
		color: #3488d9;
	}
}
