@use '../../sass/abstracts/' as *;

.dialog {
	left: auto;
	top: 10%;
	right: 1rem;
	border: 0.0625rem solid #9eadba;
	border-radius: 0.5rem;
	box-shadow: 0 0 0 100vw rgb(#9eadba, 0.25);
	padding: 2rem 1.25rem 1.5rem;
	max-height: 75%;
	overflow-y: scroll;
	position: fixed;
	width: min(75vw, 25rem);

	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	@include mq(max, 'sm') {
		right: 0;
	}
}

.modal {
	border: 0.0625rem solid #9eadba;
	border-radius: 0.5rem;
	box-shadow: 0 0 0 100vw rgb(#9eadba, 0.25);
	padding: 2rem 1.25rem 1.5rem;
	max-height: 75%;

	& .close {
		right: 0;
	}

	&--map {
		width: 40vw;
		top: -25vh;

		& h2 {
			padding-block-end: 1rem;
			border-bottom: 0.0625rem solid #9eadba;
			margin-block-end: 1rem;
		}

		& iframe {
			display: block;
			width: 100%;
			aspect-ratio: 16 / 9;
			border: 0;
		}
	}
}

.close {
	position: absolute;
	top: 0.125rem;
	right: 0;
	color: #6558f5;
	width: 2.5rem;
	padding-inline: 0;

	& > svg {
		width: 100%;
		height: 100%;
	}
}

.form {
	display: grid;
	gap: 1rem;
	font-size: 0.75rem;
}

.btn {
	&--submit {
		background-color: #6558f5;
		color: white;
		padding-block: 1em;

		&:disabled {
			opacity: 0.5;
		}
	}

	&--image {
		width: fit-content;
		padding: 0.25em 0.5em;
		border-radius: 0.125em;
		border: 0.0625rem solid #9eadba;
		font-size: clamp(0.75rem, calc(0.31rem + 2.22vw), 1rem);
		color: #4b5c6c;
		cursor: pointer;
		margin-inline-start: 0.5rem;
	}

	&--reset {
		@extend .btn--image;

		&:disabled {
			opacity: 0.5;
		}
	}
}

.textarea {
	display: grid;
	position: relative;

	& textarea {
		resize: vertical;
		padding: 0.75em;
		border-radius: 0.25rem;
		border: 0.125rem solid #c5ced6;
	}

	&:has(.textarea__error) > textarea {
		border-color: #da1010;
	}

	& p {
		margin-block: 0.25rem 0;
		& :last-child {
			display: block;
			width: fit-content;
			margin-inline-start: auto;
		}
	}

	&__error {
		width: 100%;
		height: auto;
		color: #da1010;
		position: absolute;
		top: calc(100% - 1.25em);
	}
}

.uploadImage {
	position: relative;
	display: grid;
	grid-template-columns: 2fr auto;
	align-items: end;

	&__image {
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}

	&__error {
		position: absolute;
		top: 100%;
		color: #da1010;
	}

	@include mq(max, sm) {
		&__btn-wrapper {
			display: grid;
			gap: 0.5rem;
		}
	}
}

.select {
	width: 25%;
	padding: 0.75em;
	border: 0.125rem solid #c5ced6;
	border-radius: 0.25rem;

	&:focus {
		outline-color: #6558f5;
	}
}

.label {
	display: grid;
	position: relative;
	font-weight: normal;
}

.error {
	position: absolute;
	top: calc(100% - 0.9em);
	color: #da1010;

	& + input {
		border-color: #da1010;
	}
}

.slider {
	&__root {
		position: relative;
		display: flex;
		align-items: center;
		user-select: none;
		touch-action: none;
		width: 75%;
		height: 2rem;
	}

	&__track {
		background-color: #808080;
		position: relative;
		flex-grow: 1;
		border-radius: 99em;
		height: 0.25rem;
	}

	&__range {
		position: absolute;
		background-color: #6558f5;
		border-radius: 99em;
		height: 100%;
	}

	&__thumb {
		display: block;
		width: 1.125rem;
		height: 1.125rem;
		background-color: #6558f5;
		border-radius: 10px;

		&:hover {
			background-color: #61afdf;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.0625rem #61afdf;
		}
	}

	&__mark {
		position: absolute;
		display: flex;
		left: 0.375rem;
		right: 0.125rem;
		font-size: 0.5rem;
		justify-content: space-between;
		align-items: center;
		top: calc(100% - 1rem);
		color: #6558f5;

		& :where(:nth-child(2), :nth-child(3)) {
			translate: 0.125rem 0;
		}
	}
}

.time {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	font-size: 1rem;
	margin: 0;

	& span {
		flex-basis: 20%;
		text-align: center;
	}
}
