.container {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrap {
    width: 80%;
    height: 100%;
    display: grid;
    justify-content: center;

    &--h2 {
      color: white;
      background-color: lightgray;
      width: 30%;
      padding: 5px;

    }
  }

  &__titleWrap {
    border-top: 2px solid gray;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    width: 600px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    color: rgb(47, 174, 216);

    &--icon {
      font-size: 20px;
      padding-right: 0.5rem;
    }
  }

  &__formWrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-self: center;
  }

  &__inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &--input {
      outline: none;
      border: 2px solid lightgray;
      border-radius: 5px;
      padding: 7px;
    }

    &--span {
      color: red;
    }

  }

  &__submit {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(121, 121, 242);
    padding: 7px;
    color: white;
  }

  &__text {
    color: red;
    font-size: 20px;
  }

  &__line {
    border-top: 1px solid gray;
    margin-top: 1rem;
  }
}