.btn {
	&__open {
		color: #61afdf;
		width: 2.25rem;
		aspect-ratio: 1;
		padding-inline: 0;
		margin-inline-start: auto;
		display: block;

		& > svg {
			width: 100%;
			height: 100%;
			color: #3488d9;
		}
	}
}

.section {
	overflow-y: scroll;
}