.form {
	display: grid;
	gap: 1rem;
	font-size: 0.75rem;
}

.label {
	font-weight: normal;
}

.btn {
	&--submit {
		background-color: #6558f5;
		color: white;
		padding-block: 1em;

		&:disabled {
			opacity: 0.5;
		}
	}

	&--image {
		width: fit-content;
		padding: 0.25em 0.5em;
		border-radius: 0.125em;
		border: 0.0625rem solid #9eadba;
		font-size: 1rem;
		color: #4b5c6c;
		cursor: pointer;
	}

	&--reset {
		@extend .btn--image;

		&:disabled {
			opacity: 0.5;
		}
	}
}

.textarea {
	display: grid;
	position: relative;

	& > textarea {
		resize: vertical;
		padding: 0.75em;
	}

	& > p {
		margin-block: 0.25rem 0;
		& :last-child {
			display: block;
			width: fit-content;
			margin-inline-start: auto;
		}
	}

	&__error {
		width: 100%;
		height: auto;
		color: #da1010;
		position: absolute;
		top: calc(100% - 1.25em);
	}
}

.uploadImage {
	position: relative;
	display: grid;
	grid-template-columns: 2fr auto auto;
	align-items: end;
	gap: 0.5rem;

	&__image {
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}

	&__error {
		position: absolute;
		top: 100%;
		color: #da1010;
	}
}
